:root {
  --primary-gold: #d4af37;
  --cream-text: #e8d5b7;
  --dark-bg: #2d1810;
  --darker-bg: #1a0f0a;
}

/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Playfair Display", serif;
}

a {
  text-decoration: none;
}

/* Navigation Bar */

nav {
  position: relative;
  width: 100%;
  min-height: 80px;
  background: var(--dark-bg);
  padding: 0 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 5px;
}

#nav-logo {
  width: 70px;
  height: auto;
}

.header-left h1 {
  color: var(--primary-gold);
  font-size: 1.4rem;
  font-size: 1.4rem;
  letter-spacing: 0px;
  font-weight: 300;
  font-family: "Playfair Display", serif;
}

.hamburger {
  font-size: 1.5rem;
  color: #dea03c;
  cursor: pointer;
  display: block;
}

.nav-links {
  list-style-type: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--dark-bg);

  display: none;
  flex-direction: column;
  padding: 1rem 0;
  border-top: 1px solid rgba(222, 160, 60, 0.2);
}

.nav-links li {
  text-align: left;
  padding: 1.2rem 2rem;
  border-bottom: 1px solid rgba(222, 160, 60, 0.1);
}

.nav-links li:first-child {
  padding-top: 0.4rem;
}

.nav-links li:last-child {
  border-bottom: none;
  padding-bottom: 0.4rem;
}

.nav-links li a {
  color: var(--cream-text);
  font-weight: 400;
  font-family: "Playfair Display", serif;
  letter-spacing: 1px;
}

.nav-links li a.active-nav {
  color: #d4af37;
  border-bottom: 2px solid var(--primary-gold);
  padding-bottom: 5px;
}
.nav-links.active {
  display: flex;
  z-index: 10;
}

.nav-links li a:not(.active-nav) {
  transition: 0.2s ease color;
}

.nav-links li a:not(.active-nav):hover {
  color: var(--primary-gold);
}

.home-hero {
  width: 100%;
  min-height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6rem 1rem;
  text-align: center;
  background:
    linear-gradient(rgba(31, 17, 9, 0.7), rgba(31, 17, 9, 0.9)),
    url("https://images.unsplash.com/photo-1507842217343-583bb7270b66?q=80&w=1920&auto=format&fit=crop");
  background-size: cover;
  background-position: center;
}

.home-hero h1 {
  font-family: "Great Vibes", cursive;
  color: var(--primary-gold);
  font-size: 4rem;
  font-weight: 400;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 0.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero-owl {
  width: 120px;
  height: auto;
  margin-bottom: 1.5rem;
  filter: drop-shadow(0 0 5px rgba(212, 175, 55, 0.3));
}

.home-hero .tagline {
  font-family: "Playfair Display", serif;
  color: var(--cream-text);
  font-size: 1.1rem;
  letter-spacing: 1px;
  margin-bottom: 1.4rem;
  font-style: italic;
}

.home-hero .tagline-2 {
  font-family: "Playfair Display", serif;
  color: var(--cream-text);
  margin-bottom: 2.5rem;
  text-transform: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1rem;
  line-height: 1.4;
}

.divider {
  display: none;
}

.explore-btn {
  display: inline-block;
  background-color: var(--primary-gold);
  color: #1f1109;
  font-weight: 500;
  padding: 20px 35px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.2s background-color;
  border: none;
}

.explore-btn:hover {
  cursor: pointer;
  background-color: var(--cream-text);
}

/* Craft Home Section */

.our-craft {
  width: 100%;
  height: auto;
  background: var(--darker-bg);
  text-align: center;
  display: flex;
  gap: 2em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4.5rem 1rem;
  font-family: "Playfair Display", serif;
}

.craft-heading {
  color: var(--primary-gold);
  font-size: 2rem;
  margin-bottom: 2rem;
  letter-spacing: 2px;
  font-weight: 550;
}

.craft-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.craft-item h2,
.craft-item p {
  color: var(--cream-text);
}

.craft-item h2 {
  font-weight: 470;
}

.craft-item p {
  line-height: 1.5;
  min-height: 80px;
}

.icon-circle {
  width: 70px;
  height: 70px;
  border: 1px solid var(--primary-gold);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-circle i {
  color: var(--darker-bg);
  font-size: 1.8rem;
  -webkit-text-stroke: 1px var(--primary-gold);
}

/* Featured Products Section */

.featured-section {
  height: auto;
  width: 100%;
  background: var(--dark-bg);
  padding: 4.5rem 1rem;
  text-align: center;
}

.product-grid {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  align-items: center;
}

.featured-heading {
  color: var(--primary-gold);
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 1.7rem;
}

.featured-item {
  border: 1px solid var(--primary-gold);
  width: 90%;
  max-width: 400px;
  text-align: left;
  transition: transform 0.3s ease;
  background-color: transparent;
}

.featured-item:hover {
  transform: translateY(-5px);
}

.featured-item img {
  width: 100%;
  height: 450px;
  object-fit: cover;
}

.text-content {
  background: var(--darker-bg);
  padding: 0.5em;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.featured-item h3 {
  font-size: 1.3rem;
  padding-bottom: 0.3em;
}

.featured-item p {
  font-size: 0.95rem;
  opacity: 0.8;
  line-height: 1.4;
}

.featured-section p,
.featured-item h3,
.featured-item p {
  color: var(--cream-text);
  font-weight: 300;
}

.featured-section p {
  margin-bottom: 2rem;
  font-style: italic;
}

.featured-section button {
  color: var(--primary-gold);
  background-color: var(--dark-bg);
  padding: 1rem 2rem;
  border: 2px solid var(--primary-gold);
  cursor: pointer;
  letter-spacing: 2px;
  font-weight: 500;
  transition:
    0.15s background-color,
    0.15s color;
  margin-top: 2.3em;
}

.featured-section button:hover {
  background-color: var(--primary-gold);
  color: black;
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .nav-links {
    display: flex;
    position: static;
    flex-direction: row;
    width: auto;
    border: none;
    padding: 0;
    background-color: transparent;
    gap: 2em;
  }

  .nav-links li {
    padding: 0;
    border: none;
  }

  .nav-links li:first-child,
  .nav-links li:last-child {
    padding: 0;
  }

  .home-hero h1 {
    font-size: 5rem;
  }
  .tagline,
  .tagline-2 {
    font-size: 1.3rem;
  }

  .home-hero .tagline-2 {
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  .divider {
    display: inline;
  }

  .our-craft {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .craft-heading {
    width: 100%;
  }

  .craft-item {
    width: 30%;
  }

  .product-grid {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: stretch;
  }

  .featured-item {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}
