/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cinzel";
}

body {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

nav {
  position: relative;
  width: 100%;
  min-height: 80px;
  background: rgba(45, 24, 16);
  padding: 0 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 5px;
}

#nav-logo {
  width: 70px;
  height: auto;
}

.header-left h1 {
  color: #d4af37;
  font-size: 1.4rem;
  font-size: 1.4rem;
  letter-spacing: -1px;
  font-weight: 500;
}

h1 .artistry {
  color: #e8d5b7;
  font-weight: 480;
  font-size: 0.9rem;
  letter-spacing: 6px;
  display: block;
}

.hamburger {
  font-size: 1.5rem;
  color: #dea03c;
  cursor: pointer;
  display: block;
}

.nav-links {
  list-style-type: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: rgba(45, 24, 16);

  display: none;
  flex-direction: column;
  padding: 1rem 0;
  border-top: 1px solid rgba(222, 160, 60, 0.2);
}

.nav-links li {
  text-align: left;
  padding: 1rem 2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  padding: 1.2rem 2rem;
  border-bottom: 1px solid rgba(222, 160, 60, 0.1);
}

.nav-links li a {
  color: #e8d5b7;
  font-weight: 0;
}

.nav-links li a.active-nav {
  color: #d4af37;
  border-bottom: 2px solid #d4af37;
  padding-bottom: 5px;
}
.nav-links.active {
  display: flex;
  z-index: 10;
}

.nav-links li a:not(.active-nav) {
  transition: 0.2s ease color;
}

.nav-links li a:not(.active-nav):hover {
  color: #d4af37;
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .nav-links {
    display: flex;
    position: static;
    flex-direction: row;
    width: auto;
    border: none;
    padding: 0;
    background-color: transparent;
    gap: 2em;
  }

  .nav-links li {
    padding: 0;
    border: none;
  }
}
